<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aladdin.shiro.dao.auto.UserMapper">

    <insert id="saveUser" parameterType="com.aladdin.shiro.entity.auto.User">
        insert into t_user (user_name,password,salt) values(#{userName},#{password},#{salt})
    </insert>

    <resultMap id="urMap" type="com.aladdin.shiro.entity.dto.UserRolePers">
        <id column="rid" property="id"/>
        <result column="username" property="userName"/>
        <collection property="roles" ofType="com.aladdin.shiro.entity.dto.RoleDto">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <collection property="permsList" ofType="com.aladdin.shiro.entity.auto.Perms" resultMap="persMap"/>
        </collection>
    </resultMap>
    <resultMap id="persMap" type="com.aladdin.shiro.entity.auto.Perms">
        <id column="tpId" property="id"/>
        <result column="tpName" property="name"/>
        <result column="url" property="url"/>
    </resultMap>
    <select id="findRolesByUserName" parameterType="java.lang.String" resultMap="urMap">
         select u.id,
           u.user_name AS uname,
           r.name      AS rname,
           r.id        AS rid,
           tp.id       AS tpId,
           tp.name     AS tpName,
           tp.url
        from t_role r,
             t_user_role ur,
             t_user u,
             t_pers tp,
             T_role_pers trp
        where r.id = ur.role_id
          AND u.id = ur.user_id
          AND ur.id = trp.role_id
          AND tp.id = trp.pers_id
          AND r.id = trp.role_id
          AND u.user_name =#{userName}
    </select>
</mapper>